@model Product // strong type

<h4>ID: @Model.Id</h4>
<h4>Tên: @Model.Name</h4>
<h4>Nhà Sản xuất: @Model.Supplier</h4>
<h4>Số lượng Tồn: @Model.AvailableQuantity</h4>
<h4>Mô tả: @Model.Description</h4>
<h4>Trạng thái: @Model.Status</h4>
<h4>Giá nó chỉ là: @Model.Price</h4>

